* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/bg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}


.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    margin: 0 5vw;
    padding: 0 16px;
}

.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 40px;
}


.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #2c0b4c;
    margin: 0 0 24px;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    margin: 0 0 16px;
    font-size: 48px;
    font-size: clamp(48px, 5vw, 72px);
}

.descricao {
    margin: 0 0 32px;
    font-size: 20px;
    font-size: clamp(20px, 2vw, 24px);
    text-align: center;
    font-weight: bold;
    color: #e0caf6;
}

.bio {
    margin: 0 0 70px;
    font-size: 18px;
    text-align: center;
    color: #e0caf6;
}

.sobreMim {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 60px 16px 0;
}

.titulos {
    font-size: clamp(40px, 4vw, 65px);
}

.destaques {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    gap: 20px;
}

.cardDestaque {
    background-color: #f3f5ff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    gap: 20px;
}

.imgDev {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9810fa;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.titulo {
    font-size: 20px;
}

.textoCard {
    font-size: 16px;
    text-align: center;
}

.foguete {
    width: 65px;
    height: 65px;
}

.divTextoSobreMim {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f3f5ff;
    padding: 30px;
    border-radius: 20px;
    margin: 20px 0 75px 0;

}

.textoSobreMim {
    font-size: 19px;
    text-align: justify;
}

.habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    background-color: #f9fafb;
    padding: 60px 16px 0;
}

.textoHabilidades {
    font-size: 18px;
    text-align: center;
}

.cardsHabilidades {
    display: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

.cardHabilidade {
    display: center;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 24px;
    width: 100%;
    border: 1px solid #cdced1 ;
    border-radius: 20px;
    margin-bottom: 20px;
}

.topoCardHab {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 16px;
}

.imgCardHab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 9px;
    background-color: #9810fa;
    border-radius: 10px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills span {
    background-color: #e8e9eb;
    padding: 4px 12px;
    border-radius: 4px;
}

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/bg.png);
    padding: 0 20px;
    color: white;
    gap: 20px;
}

.contato h2 {
    margin-top: 40px;
    font-size: clamp(35px, 4vw, 65px);
}

.textoContato {
    text-align: center;
    font-size: 18px;
    color: #e0caf6;
}

.cardContato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.cardContato h3 {
    font-size: 22px;
}

.infoContato {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 20px;
    padding: 30px;
    gap: 20px;
}

.infoContato p {
    font-size: 14px;
}

.redes {
    display: flex;
    gap: 10px;
}

.redes img {
    width: 48px;
    height: 48px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 10px;
}

.linkEmail {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #e0caf6;;
}

.imgLinkEmail {
    width: 24px;
    height: 24px;
}

.envieMsg {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 20px;
    padding: 30px;
    gap: 20px;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.formulario input {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid white;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    padding: 20px;
    box-sizing: border-box;
}

.formulario textarea {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid white;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    padding: 20px;
    box-sizing: border-box;
    height: 100px;
}

.formulario input:focus, textarea:focus{
    outline: none;
    border-color: #2c0b4c;
    transition: all 0.3 ease;
    box-shadow: 0 0 0 1x #2c0b4c;
}

.formulario button {
    width: 100%;
    height: 40px;
    background-color: #9810fa;
    border-radius: 10px;
    border: none;
    color: white;
}

.footer {
    margin: 10px 0 20px 0;
    border-top: 2px solid gray;
    padding-top: 20px;
}

.direitosR{
    text-align: center;
    font-size: 15px;
    color: #e0caf6;
}

.projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    padding: 60px 0 60px;
    gap: 20px;
}

.projetos h2,
.projetos .textoHabilidades {
    padding: 0 16px;
}

.carrossel {
    display: flex;
    gap: 16px;
    overflow-x: auto;   
    -webkit-overflow-scrolling: touch;
    padding: 10px 16px;
    width: 100%;
}

.carrossel::-webkit-scrollbar {
    display: none;
}

.cardProjeto {
    flex-shrink: 0;
    width: 300px;
    min-width: 300px;
    background: #f3f5ff;
    border: 1px solid #cdced1;
    scroll-snap-align: start;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    gap: 15px;
}

.imgProjeto {
    width: 300px;
    height: 185px;
    max-width: 300px;
    max-height: 185;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.imgProjeto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardProjeto h3 {
    padding: 0 20px;
}

.cardProjeto p {
    padding: 0 20px;
}

.linkGithubProjeto a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0 0 15px 35px;
}

/* ========== 768px ========== */
@media (min-width: 768px) {

  .sobreMim,
  .habilidades,
  .projetos,
  .contato {
    padding-left: 60px;
    padding-right: 60px;
  }

  .projetos {
    padding-left: 60px;
    padding-right: 60px;
  }

  .projetos h2,
  .projetos .textoHabilidades {
    padding: 0;
  }

  .carrossel {
    padding: 10px 0;
  }

  .bio {
    max-width: 600px;
  }

  .divTextoSobreMim {
    padding: 40px;
  }

  .cardsHabilidades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
  }

  .cardHabilidade {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  .infoContato p {
    font-size: 16px;
  }
}

/* ========== 1024px ========== */
@media (min-width: 1024px) {

  .sobreMim,
  .habilidades,
  .projetos,
  .contato {
    padding-left: 120px;
    padding-right: 120px;
  }

  .projetos h2,
  .projetos .textoHabilidades {
    padding: 0;
  }

  .habilidades {
    justify-content: flex-start;
    align-items: center;
  }

  .bio {
    max-width: 750px;
  }

  .destaques {
    flex-direction: row;
    align-items: stretch;
  }

  .cardDestaque {
    flex: 1;
  }
  .cardsHabilidades {
    grid-template-columns: repeat(3, 1fr);
}

.cardHabilidade {
    width: 250px;
    min-width: 250px;
    min-height: 200px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .carrossel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-x: visible;
    gap: 20px;
    padding: 0;
    width: 100%;
  }

  .cardProjeto {
    width: 100%;
    min-width: unset;
    scroll-snap-align: unset;
  }

  .imgProjeto {
    width: 100%;
    max-width: 100%;
  }

  .cardContato {
    flex-direction: row;
    align-items: flex-start;
  }

  .infoContato,
  .envieMsg {
    flex: 1;
    height: 362px;
    align-items: flex-start;
    justify-content:flex-start;
  }

  .footer {
    width: 100%;
  }
}

/* ========== 1280px ========== */
@media (min-width: 1280px) {

  .sobreMim,
  .habilidades,
  .projetos,
  .contato {
    padding-left: 180px;
    padding-right: 180px;
  }

  .foto {
    width: 220px;
    height: 220px;
  }

  .bio {
    max-width: 860px;
    font-size: 20px;
  }

  .textoSobreMim {
    font-size: 20px;
    line-height: 1.8;
  }

  .cardsHabilidades {
    grid-template-columns: repeat(3, 1fr);
  }

  .cardHabilidade {
    width: 350px;
    height: 168px;
    min-width: 350px;
    min-height: 168px;
  }

  .carrossel {
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
  }

  .cardContato {
    gap: 30px;
  }

  .infoContato,
  .envieMsg {
    padding: 40px;
    height: 382px;
    align-items: flex-start;
    justify-content:flex-start;
  }
}