body {
    background-color: #525252;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0px 20px 0px;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.divFotoJoao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoTexto {
    padding: 10px;
}

.fotoJoao {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 20px;
    margin: 20px;
}

.textoTopo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.textoDestaque {
    color: white;
    font-size: clamp(30px, 5vw, 55px);
    margin: 0;
    margin-bottom: 5px;
}

.joaovictor {
    color: #163f2d;
}

.descricao {
    margin: 0;
    color: white;
}

.bio {
    padding: 15px 15px 15px 15px;
    text-align: justify;
    margin: 0;
    color: white;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 40px;
    padding: 0 10px;
}

.github {
    padding-top: 2px;
}

.email {
    padding-top: 10px;
}

.projetos {
    display: flex;
    background-color: #464646;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.textosProjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloProjetos {
    color: white;
    font-size: clamp(30px, 5vw, 55px);
    margin: 10px;
}

.textoProjetos {
    padding: 15px 15px 15px 15px;
    text-align: justify;
    margin: 0;
    color: white;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #525252;
    border-radius: 25px;
}

.cardMusicap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divMusicap {
    width: 70%;
    border-radius: 30px;
}

.fotoMusicap {
    max-width: 100%;
    height: auto;
}